<form action="#" class="w-26rem text-center pg-fluid flex flex-column gap-2">
  <div class="my-4">
    <img
      src="assets/demo/images/login/logo-placeholder.png"
      alt="logo"
      width="75%"
    />
  </div>
  <p class="text-gray-800 font-semibold text-2xl">
    Control de Evidencia Trabajo de Especialista de la Producción
  </p>
  <p class="text-blue-700 uppercase text-lg font-semibold">Inicio de sesión</p>
  <div class="grid p-fluid gap-4">
    <span class="p-float-label w-full">
      <input id="float-input" type="text" pInputText size="lg" />
      <label for="float-input">Usuario</label>
    </span>
    <span class="p-float-label w-full">
      <input id="float-input" type="text" pInputText size="lg" />
      <label for="float-input">Contraseña</label>
    </span>
    <button
      pButton
      pRipple
      type="button"
      label="Iniciar sesión"
      class="bg-blue-700"
    ></button>
  </div>
</form>
